<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Sign Up</title>
</head>
<body>
<h1>회원가입</h1>
<form th:action="@{/signup}" method="post">
    <div>
        <input type="text" name="username" placeholder="Username"/>
    </div>
    <div>
        <input type="password" name="password" placeholder="Password"/>
    </div>
    <div>
        <select name="role">
            <option value="USER">일반 사용자</option>
            <option value="ADMIN">관리자</option>
        </select>
    </div>
    <input type="submit" value="회원가입" />
</form>
<p>이미 계정이 있으신가요? <a th:href="@{/login}">로그인</a></p>
</body>
</html>